{% extends 'base.html' %}

{% block content %}
	
	{{ super() }}
	
	{% for message in get_flashed_messages() %}
		<div class="alert alert-warning">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{ message }}
		</div>
	{% endfor %}

	<!-- Header Slider -->
	<header id="header">
        <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
                
                <div class="logo-container">
                    <a href="/">
                        <img src="{{ url_for('static', filename='img/logo-header.png') }}" height="37" width="197" alt="">
                    </a>
                </div>
				
				 <div class="item active">
					<div class="fill" style="background-image:url('{{ url_for('static', filename='img/slider/slider-4.jpg') }}');"></div>
                    <!-- div class="carousel-caption">
                        <h1 class="light mab-none">This is <strong class="bold-text">KreFolio</strong></h1>
                        <h1 class="light margin-bottom-medium mat-none">And We Are <strong class="bold-text">Awesome</strong></h1>
                        <p class="light margin-bottom-medium">Stop blending in & start leaving your mark on the web.</p>
                        <div class="call-button">
                            <div class="row">
                                <div class="col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2 col-xs-12">
                                    <a href="#portfolio" class="button pull-right internal-link bold-text light hvr-grow" data-rel="#portfolio">Our Work</a>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <a href="#about-us" class="button pull-left internal-link bold-text main-bg hvr-grow" data-rel="#about-us">About Us</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div-->
                    <div class="overlay"></div>
               	</div>
            </div>
        </div>
    </header>

	<!-- Google Maps -->
	<section id="map" class="map">
		<div id="map-container"></div>
	</section>

	{% block sendmessage %}{{ super() }}{% endblock %}

	{% block footer %}{{ super() }}{% endblock %}
	
{% endblock %}